@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: rgba(34, 197, 94, 1),
    --second: rgba(34, 197, 94, 1),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}


main {
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0;
    background-color: black;
}

main {
    padding: 180px 0;
}

.about-txt {
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.about-txt h1 {
    font-size: 45px;
    font-weight: 800;
    background: linear-gradient(274.29deg, #22C55E 12.39%, #00BDC9 112.67%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.about-txt p {
    width: 1100px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

/* <===============> */

/* swipper */

.container-card{
    display: flex;
    margin: 0 47px;
    justify-content: center;
    gap: 30px;
}

.card__data {
  padding: 1.5rem 2rem;
  text-align: center;
}

.card__article {
    padding: 40px 0px 50px 0px;
    border-radius: 1.25rem;
    border: 2px solid #A5A5A5;
}

.card__image {
    position: relative;
    padding-top: 1.5rem;
    margin-bottom: 51px;
    text-align: center;
    margin: 0 auto 1rem;
}

.card__img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.card__name{
    color: #22C55E;
    font-size: 22px;
    margin-bottom: 21px;
}

.card__description{
    color: white;
    font-size: 18px;
    margin-bottom: 45px;
}

.card__button{
    color: #22C55E;
}

.card__article:hover{
    scale: 1.1;
    transition: 0.5s;
    background: transparent;
    background-color: #102A19;
    /* background-image: url('../assets/images/1000_F_220166524_QkAcdgDbgEZ9dPg3fVt8M0QL5yUgliJ1-removebg-preview 1.svg'); */
    background-size: cover;
    opacity: 0.5;
}

.card__article:hover path {
    fill: #161f19;
}

