@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: rgba(34, 197, 94, 1),
    --second: rgba(34, 197, 94, 1),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    padding: 0 40px;
    /* background-image: url('/src/assets/images/particle.png'); */
    /* opacity: 0.6; */
    /* background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

nav {
    position: relative;
    padding-top: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 280px; */
    z-index: 999;
}



.icons {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.navigation ul {
    display: flex;
    gap: 92px;
}

.navigation li {
    font-weight: 500;
    font-size: 20px;
    color:white;
    list-style: none;
}

a {
    text-decoration: none;
}

/* border: 1px solid #f0f50b;
  color: #f0f50b;
  box-shadow: 4px 4px 0 0 #f0f50b;
  transform: translate(-5px, -5px); */

.button button {
    background: #22C55E;
    padding: 10px 38px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover {
    box-shadow: 4px 4px 0 0 #00ffff;
    transform: translate(-5px, -5px);
}

.header-content {
    display: flex;
    align-items: center;
    gap: 250px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-text {
    display: grid;
    margin: 200px 0 0 0; 
    gap: 25px;
}

.header-text .text1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header-text .main-text {
    width: 631px;
    font-size: 64px;
    background: linear-gradient(274.29deg, #22C55E 12.39%, #00BDC9 112.67%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-weight: 800;
    line-height: 130%;
}

.header-text .pg-header {
    width: 610px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.button-header {
    gap: 28px;
    display: flex;
    z-index: 999;
}

.button-header .masuk {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 80px;
    border-radius: 50px;
    background: none;
    border: 2px solid #22C55E;
    background: none;
    transition: background-color 0.3s, color 0.3s; 
}

.masuk:hover {
    background: #22C55E;
    /* box-shadow: 0 4px 0 0 #00ffff;
    transform: translate(-5px, -5px); */
}

.button-header .discord {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: none;
    border-radius: 50px;
    padding: 15px 25px;
    border: 2px solid #22C55E;
    transition: background-color 0.3s, color 0.3s; 
}

.button-header .discord:hover {
    background: #22C55E;
}

img {
    margin-top: 90px;
    width: 460px;
    height: 510px;
}

.community {
    display: flex;
    padding-top: 162px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.pc-bumigora {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pc-bumigora p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 270px;
}

.community .pc {
    margin-top: -5px;
}

section {
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0;
    background-color: black;
}

main {
    padding: 180px 0;
}

.about-txt {
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.about-txt h1 {
    font-size: 45px;
    font-weight: 800;
    background: linear-gradient(274.29deg, #22C55E 12.39%, #00BDC9 112.67%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.about-txt p {
    width: 1100px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

/* swipper */
.container-card{
  justify-content: center;
  align-items: center;
  display: flex;
}
.card__container {
  padding-block: 1rem;
}
.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }
.card__data {
    padding: 1.5rem 2rem;
  text-align: center;
  position: relative;
  z-index: 10;
  }
.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  .card__article {
    width: 100%; 
    border-radius: 1.25rem;
    overflow: hidden;
    border: 1px solid white;
    margin-bottom: 1.5rem;
  }
  .card__image {
    position: relative;
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
    text-align: center;
    margin: 0 auto 1rem;
  }
.card__img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  position: relative;
  z-index: 5;
}
.card__name{
    color: #22C55E;
    margin-bottom: .75rem;
}
.card__description{
    color: white;
    font-weight: 500;
  margin-bottom: 1.75rem;
}
.card__button{
    color: #22C55E;
}
